<div class="row">
  <div class="col">
    <h1>Dashboard</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">

    <% if @available_spaces.any? %>
      <div id="park-next-vehicle" class="action-sidebar">
        <%= link_to 'Park Next Vehicle', space_parking_assignments_new_path(@available_spaces.first), id: 'parkit-link', class: 'btn btn-primary action-link' %>

        <p class="text-muted">Want to choose your space? <%= link_to 'See all spaces', spaces_path %></p>
      </div>
    <% else %>
      <div id="park-next-vehicle" class="alert alert-danger">
        <p class="text-danger"><strong>There are no spaces available.</strong></p>
      </div>
    <% end %>
  </div>

  <div class="col-lg-9">
    <h2>Current Parking Assignments</h2>

    <%= render partial: 'parking_assignments/current_parking_assignments_table', locals: { parking_assignments: @parking_assignments} %>
  </div>
</div>
