<% if parking_assignments.any? %>
  <div id="active-parking-assignments" class="parking-assignments">
    <table class="table table-striped">
      <thead>
      <th scope="col">Space</th>
      <th scope="col">Vehicle</th>
      <th scope="col"></th>
      </thead>
      <tbody>
      <% parking_assignments.each do |assignment| %>
        <tr id="<%= dom_id(assignment) %>">
          <td><%= assignment.space_identifier %></td>
          <td><%= assignment.vehicle_to_label %></td>
          <td><%= link_to 'Check Out', parking_assignment_path(assignment) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div id="active-parking-assignments">
    <p class="text-muted">There are no active parking assignments.</p>
  </div>
<% end %>
